.con_body {
	width: 100%;
	background-color: white;
	padding: 20px;
}

.h_25 {
	  font: normal normal normal 25px/1.1em 'Times New Roman',times,serif;
  		color: #1D4379;
  		margin-bottom: 10px;
  		letter-spacing: 0.15em;
}



.map {
	margin: 0 0 20px 0;
}

.map iframe {
  width: 415px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) !important;
}

.contact_contacts_txt {
	font: normal normal normal 15px/.8em Arial, Helvetica, sans-serif;
  color: #636363;
}

.contact_contacts_txt span {
	font-size: 18px;
	margin-bottom: 20px;
}

